.inline-giving {
  background-color: $bg-color;
  font-family: $fontface-body;
  font-size: 16px;

  .page-header {
    @include header-font($fontface-header, 1.25em);
    border: none;

    &--border-btm {
      border-bottom: 1px solid $underline-color;
      margin: 0 0 8px;
    }

    &--mb-0 {
      margin-bottom: 0;
    }

    &--pb-0 {
      padding-bottom: 0;
    }

    &--no-btm-space {
      @extend .page-header--mb-0;
      @extend .page-header--pb-0;
    }
  }

  .page-footer {
    padding-top: 1em;
  }

  .btn-form {
    &--border-btm {
      border-bottom: 1px solid $underline-color;

      margin-bottom: 1em; // 16px
      padding-bottom: 1.125em; // 18px
    }

    &__header {
      color: $text-color;
      font-size: .75em; // 12px
      text-transform: uppercase;
    }
  }

  .radio-form {
    &__header {
      color: $text-color;
      font-size: .75em; // 12px
      margin: 0;
      text-transform: uppercase;
    }
  }

  .btn-group {
    .btn-option {
      background-color: transparent;

      &--mb-8 {
        margin-bottom: 8px;
      }

      :hover,
      :active {
        background-color: $secondary-color;
      }

      &--no-outline {
        border: none;
        box-shadow: none;
      }

      &--flex-item {
        min-height: 37px;

        &:not(:last-child):not(.dropdown-toggle) {
          margin-right: 0;
        }
      }
    }

    .active {
      background-color: $secondary-color;
    }

    .btn-payment {
      min-height: 58px;
      text-align: left;

      &.active {
        background-color: $secondary-color;

        .btn-payment__icon {
          .fa-circle-thin {
            display: none;
          }

          .fa-check-circle {
            display: inline-block;
          }
        }
      }

      .row {
        border-radius: 4px;
        margin-top: -9px;
        margin-bottom: -9px;
        padding: 15px 0;

        &:hover {
          background-color: $secondary-color;
          color: $cr-white;
        }

        & > div {
          @include make-xs-column(6);
        }

        .payment--lg {
          font-size: 24px;
          line-height: 24px;
          text-align: right;
        }
      }

      &__icon {
        .fa {
          padding-right: 8px;
          vertical-align: middle;

          &-circle-thin {
            display: inline-block;
          }

          &-check-circle {
            display: none;
          }
        }
      }
    }

    &--flex-col {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      margin-right: 0;
      margin-left: -8px;
      padding-top: 8px;

      .btn-option--flex-item {
        flex: 1 1 auto;
        min-height: 37px;
        margin: 8px;
        margin-top: 0;
      }
    }

    &--flex-row {
      border-bottom: 1px solid $underline-color;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 20px;
      padding-bottom: 8px;

      .btn-option {
        &--flex-item {
          flex: 1 1 50%;
          min-height: 37px;

          &:not(:last-child):not(.dropdown-toggle) {
            margin-right: 8px;

            @media (min-width: $screen-xs) {
              margin-right: .5em;
              margin-bottom: 0;
            }
          }
        }
      }
    }

    &--underline {
      border-bottom: 1px solid $underline-color;

      margin-bottom: 1em;
      padding-bottom: 1em;
    }
  }

  .custom-input-payment {
    align-content: center;
    display:-webkit-flex;
    display:flex;
    justify-content: center;
    margin-bottom: 15px;
    overflow: hidden;

    &__icon {
      flex-basis: 30px;
      font-size: 22px;
      padding: 5px 20px 0;
    }
  }

  .table {
    border-bottom: 1px solid $underline-color;

    tbody {
      > tr {
        > td {
          padding: 14px 0;
          vertical-align: top;
        }
      }
    }

    .confirm-amount {
      font-size: 24px;
      line-height: 18px;
    }

    td {
      color: $text-color;
    }

    td:first-child {
      font-family: inherit;
      font-size: .75em;
      font-weight: 500;
      text-transform: uppercase;
      vertical-align: top;

      a {
        color: $text-color-link;
      }
    }

    td:last-child {
      font-size: 14px;

      &.confirm-amount {
        font-size: 1.5em;
      }

      a {
        color: $text-color-link;
      }
    }

    td {
      a {
        cursor: pointer;
      }
    }
  }

  .input-group-addon {
    background-color: $input-bg-color;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 1.125em;
  }

  form {
    .form-control {
      background-color: $input-bg-color;
      border: none;
      border: 1px solid transparent;
      border-radius: 0;
      box-shadow: none;
      height: 2em;
      padding: 20px 10px;

      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: lighten($input-text-color, 35);
      }
    }

    label {
      font-weight: normal;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"],
    input[type="tel"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 42px;
      padding: 0 10px;

      @media (min-width: $screen-sm) {
        padding: 0 20px;
      }
    }
  }

  .form {
    &__helpers {
      color: $text-color;
      font-size: 14px;

      &--half {
        @include make-xs-column(6);
      }
    }
  }

  .text-block {
    font-size: 14px;

   &__link {
      color: $text-color;

      &:hover {
        color: darken($text-color, 30);
      }
    }

    &__inline-link {
      color: $text-color-link;

      &:hover {
        color: darken($text-color-link, 20);
      }
    }

    &--underline {
      text-decoration: underline;
    }

    &--lg-font {
      font-size: 1.75em;
      font-weight: 300;

      padding-top: 1em;
    }

    &--pb-2 {
      padding-bottom: 2em;
    }
  }

  .form-nav {
    padding: 1em 0 2em;
    width: 100%;

    .btn {
      width: 50%;
    }

    .btn-option {
      border-color: $secondary-color;
      color: $secondary-color;

      &.active {
        background-color: $secondary-color;
        color: $cr-white;
      }
    }

    .btn:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;

      margin-right: 0;
    }

    .btn:last-child:not(:first-child) {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .radio-group {
    line-height: 1em;
    padding: 1em 0 2em;

    input {
      margin: 0;
      margin-bottom: 4px;
      vertical-align: middle;
    }
  }

  .row {
    .form-group {
      @include make-xs-column(12);
    }

    .inline-form__input {
      @include make-xs-column(4);
      padding-left: 8px;
      padding-right: 8px;

      &:first-child {
        padding-left: 15px;
      }

      &:last-child {
        padding-right: 15px;
      }
    }
  }

  .inline-form {
    &__input {
      &--half {
        @include make-xs-column(6);
      }
    }
  }

  .contrast-background {
    background: $page-bg-color;

    padding: 1.25em 1.25em 2em 1.25em;

    p:last-of-type {
      padding-top: .5em;
    }
  }

  datepicker {
    th {
      .btn-default {
        &.btn-secondary {
          &.btn-sm {
            border: 0;
            border-radius: 0;
            width: 100%;

            &.pull-left {
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }

            &.pull-right {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }
        }
      }
    }
  }

  // Validation styles

  form {
    .form-control {
      &.ng-touched {
        &.ng-invalid {
          border: 1px solid $danger-state-border;
        }
      }
    }

    .form-control {
      &.ng-touched {
        &.ng-valid {
          border: 1px solid $success-state;
        }
      }
    }
  }

  .custom-input-payment__input {
    &.ng-touched {
      &.ng-invalid {
        .form-control,
        .input-group-addon {
          border: 1px solid $danger-state-border;
        }

        .form-control {
          border-left: none;
        }

        .input-group-addon {
          border-right: none;
        }
      }

      &.ng-valid {
        .form-control,
        .input-group-addon {
          border: 1px solid $success-state;
        }

        .form-control {
          border-left: none;
        }

        .input-group-addon {
          border-right: none;
        }
      }
    }
  }

  .alert {
    border-radius: 0;
    font-size: .875em;

    &-danger {
      background-color: $danger-state-bg;
      border-color: $danger-state-border;
      color: $danger-state-text;
      margin-top: -15px;
      padding: 5px 0;
      text-align: center;

      p {
        line-height: 10px;
        margin: 7px 0 10px;
      }

      ul {
        list-style: none;
        padding-left: 0;
      }

      li {
        line-height: 10px;
        margin-bottom: 9px;
      }
    }
  }
}
