.inline-giving {
  background-color: $bg-color;
  font-size: 16px;

  .alert {
    p {
      margin: 0 0 0.5em 0;
      font-weight: bold;
    }
    ul {
      padding-left: 1.5em;
    }
  }

  .page-header {
    @include header-font($fontface-header, 1.25em);

    border: none;

    &--border-btm {
      border-bottom: 1px solid $underline-color;
    }

    &--mb-0 {
      margin-bottom: 0;
    }

    &--pb-0 {
      padding-bottom: 0;
    }

    &--no-btm-space {
      @extend .page-header--mb-0;
      @extend .page-header--pb-0;
    }
  }

  .page-footer {
    padding-top: 1em;
  }

  .btn-form {
    &--border-btm {
      border-bottom: 1px solid $underline-color;

      margin-bottom: 1em; // 16px
      padding-bottom: 1.125em; // 18px
    }

    &__header {
      color: $text-color;
      font-size: .75em; // 12px
      text-transform: uppercase;
    }
  }

  .btn-group {
    .btn-option {
      background-color: transparent;

      :hover,
      :active {
        background-color: $secondary-color;
      }

      &--no-outline {
        border: none;
      }

      &--flex-item {
        flex: 1 1 50%;
        min-height: 37px;

        &:not(:last-child):not(.dropdown-toggle) {
          margin-right: 0;
          margin-bottom: .5em;

          @media (min-width: $screen-xs) {
            margin-right: .5em;
            margin-bottom: 0;
          }
        }
      }
    }

    .active {
      background-color: $secondary-color;
    }

    &--flex {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      @media (min-width: $screen-xs) {
        flex-direction: row;
      }
    }

    &--underline {
      border-bottom: 1px solid $underline-color;

      margin-bottom: 1em;
      padding-bottom: 1em;
    }
  }

  .table {
    tbody {
      > tr {
        > td {
          padding: 14px 0;
          vertical-align: top;
        }
      }
    }

    .confirm-amount {
      font-size: 24px;
      line-height: 18px;
    }

    td {
      color: $text-color;
    }

    td:first-child {
      font-family: inherit;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;

      a {
        color: $text-color-link;
      }
    }

    td:last-child {
      font-size: 14px;

      a {
        color: $text-color-link;
      }
    }

    td {
      a {
        cursor: pointer;
      }
    }
  }

  form {
    .input-group-addon {
      background-color: $input-bg-color;
      border: none;
      font-size: 1.125em;
    }

    &.submitted.ng-invalid {
      .form-control {
          border: 1px solid $state-danger-border;
      }
      .input-group-addon {
        border: 1px solid $state-danger-border;
        background-color: $state-danger-bg;
        color: $state-danger-text;
      }
    }

    .form-control {
      background-color: $input-bg-color;
      border: none;
      border-radius: 0;
      box-shadow: none;
      height: 2em;
      padding: 20px 10px;

      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: lighten($input-text-color, 35);
      }
    }

    label {
      font-weight: normal;
    }

    input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 42px;
      padding: 0 20px;
    }

  }

  .inline-form {
    &__input {
      &--half {
        @include make-xs-column(6);
      }
    }
  }

  .form {
    &__helpers {
      color: $text-color;
      font-size: 14px;

      &--half {
        @include make-xs-column(6);
      }
    }
  }

  .text-block {
    font-size: 14px;

   &__link {
      color: $text-color;

      &:hover {
        color: darken($text-color, 30);
      }
    }

    &__inline-link {
      color: $text-color-link;

      &:hover {
        color: darken($text-color-link, 20);
      }
    }

    &--underline {
      text-decoration: underline;
    }

    &--lg-font {
      font-size: 1.75em;
      font-weight: 300;

      padding-top: 1em;
    }

    &--pb-2 {
      padding-bottom: 2em;
    }
  }

  .form-nav {
    padding: 1em 0 2em;
    width: 100%;

    .btn {
      width: 50%;
    }

    .btn-option {
      border-color: $secondary-color;
      color: $secondary-color;

      &.active {
        background-color: $secondary-color;
        color: $cr-white;
      }
    }

    .btn:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;

      margin-right: 0;
    }

    .btn:last-child:not(:first-child) {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .radio-group {
    padding: 1em 0 2em;
  }

  .contrast-background {
    background: $page-bg-color;

    padding: 1.25em 1.25em 2em 1.25em;

    p:last-of-type {
      padding-top: .5em;
    }
  }

  datepicker {
    th {
      .btn-default {
        &.btn-secondary {
          &.btn-sm {
            border: 0;
            border-radius: 0;
            width: 100%;

            &.pull-left {
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }

            &.pull-right {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }
        }
      }
    }
  }
}
