<form [formGroup]="form">

  <tabset>
    <tab heading="Sign In">
      <h3>I Have An Account</h3>
      <div>
        <input type="email" class="form-control" placeholder="Email" name="email" [formControl]="form.get('email')"><br>
        <input type="password" class="form-control" placeholder="Password" [formControl]="form.get('password')"><br>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label>
            <input type="checkbox" checked="checked"> Keep me logged in
          </label>
        </div>
        <div class="col-xs-6">
          <p class="text-right">
            <a routerLink="/prototype/password">Forgot password?</a><br>
            <a href="#">Need help?</a>
          </p>
        </div>
      </div>
      <p>Or <a routerLink="/prototype/registration">register for an account</a></p>
      <footer class="page-footer">
        <a href="#" class="btn btn-previous pull-left" (click)="back()">Go Back</a>
        <a href="#" class="btn btn-next pull-right" (click)="next()" [ngClass]="{ disabled: !form.valid }">Sign In</a>
      </footer>
    </tab>

    <tab heading="Give as a Guest" [disabled]="gift.frequency != 'One Time'">
      <h3>Guest</h3>
      <div>
        <input type="email" class="form-control" placeholder="Email" name="email" [formControl]="form.get('email')"><br>
      </div>
      <footer class="page-footer">
        <a href="#" class="btn btn-previous pull-left" (click)="back()">Go Back</a>
        <a href="#" class="btn btn-next pull-right" (click)="guest()" [ngClass]="{ disabled: !form.valid }">Next</a>
      </footer>
    </tab>
  </tabset>

</form>