<div class="btn-group form-nav" *ngIf="gift.frequency == 'One Time' && gift.flow_type == 'gift'">
  <label class="btn btn-option" [(ngModel)]="signinOption" btnRadio="Sign In">Sign In</label>
  <label class="btn btn-option" [(ngModel)]="signinOption" btnRadio="Guest">Give as Guest</label>
</div>

<div *ngIf="signinOption == 'Sign In'" heading="Sign In">
  <header class="page-header">
    <h2>I Have An Account</h2>
  </header>

  <form [formGroup]="form" (ngSubmit)="next()">
    <div>
      <input type="email" class="form-control" placeholder="Email" name="email" [formControl]="form.get('email')"><br>
      <input type="password" class="form-control" placeholder="Password" [formControl]="form.get('password')"><br>
    </div>

    <div class="row form__helpers">
      <div class="form__helpers--half">
        <label>
          <input type="checkbox" checked="checked"> Keep me logged in
        </label>
      </div>

      <div class="form__helpers--half">
        <p class="pull-right text-left text-block">
          <a class="text-block__link--underline" routerLink="/prototype/{{ gift.flow_type}}/password">Forgot password?</a><br>
          <a class="text-block__link--underline" href="#">Need help?</a>
        </p>
      </div>
    </div>

    <hr>

    <p class="text-block text-block--pb-2">Or <a routerLink="/prototype/{{ gift.flow_type}}/registration">register for an account</a></p>
    <footer class="page-footer">
      <a href="#" class="btn btn-previous pull-left" (click)="back()">Go Back</a>
      <input type="submit" class="btn btn-next pull-right" (click)="next()" [ngClass]="{ disabled: !form.valid }" value="Sign In">
    </footer>
  </form>
</div>

<div *ngIf="signinOption == 'Guest' && gift.frequency == 'One Time' && gift.flow_type == 'gift'" heading="Give as a Guest">
  <header class="page-header">
    <h2>Guest</h2>
  </header>

  <form [formGroup]="form" (ngSubmit)="guest()">
    <form>
      <input type="email" class="form-control" placeholder="Email" name="email" [formControl]="form.get('email')" (blur)="checkEmail($event)"><br>
    </form>

    <div *ngIf="guestEmail">
      <p>Looks like that email is already taken</p>
    </div>

    <footer class="page-footer">
      <a href="#" class="btn btn-previous pull-left" (click)="back()">Go Back</a>
      <input type="submit" class="btn btn-next pull-right" (click)="guest()" [ngClass]="{ disabled: !form.valid }" value="Next">
    </footer>
  </form>
</div>
