<div>
    <p class='pull-right text-left text-block'> 
        <a (click)='closeClick()'>
            <span class="glyphicon glyphicon-remove"> </span>
        </a>
    </p>
</div>
<div>
    <span [innerHTML]="content.getContent('addMeToMapHeader')"></span>
</div>


<form novalidate [formGroup]="addMeToMapFormGroup" (ngSubmit)="onSubmit(addMeToMapFormGroup)">

    <!--ADDRESS LINE 1-->
    <div class="row">
        <div class="form-group">
            <label class="sr-only" for="addressLine1">Address Line 1</label>
            <input tabindex="1"
                   type="text"
                   class="form-control"
                   maxlength="75"
                   placeholder="Address Line 1"
                   id = "addressLine1"
                   formControlName="addressLine1"
                   name="addressLine1">
        </div>
    </div>

    <div *ngIf="addMeToMapFormGroup.controls['addressLine1'].touched && !addMeToMapFormGroup.controls['addressLine1'].valid" class="errors">
        <div class="alert alert-danger">
            <p>Address Line 1 is required!</p>
        </div>
    </div>

    <!--ADDRESS LINE 2-->
    <div class="row">
        <div class="form-group">
            <label class="sr-only" for="addressLine2">Address Line 2</label>
            <input tabindex="2"
                   type="text"
                   class="form-control"
                   maxlength="75"
                   placeholder="Address Line 2"
                   id = "addressLine2"
                   formControlName="addressLine2"
                   name="addressLine2">
        </div>
    </div>

    <div *ngIf="formSubmitted && !addMeToMapFormGroup.controls['addressLine2'].valid" class="errors">
        <div class="alert alert-danger">
            <p>Address Line 2 is invalid</p>
        </div>
    </div>

    <!--CITY-->
    <div class="row">
        <div class="form-group">
            <label class="sr-only" for="city">City2</label>
            <input tabindex="3"
                   type="text"
                   class="form-control"
                   onlyTheseKeys="[a-zA-Z\-\.]"
                   maxlength="22"
                   placeholder="City"
                   id = "city"
                   formControlName="city"
                   name="city">
        </div>
    </div>
    <div *ngIf="addMeToMapFormGroup.controls['city'].touched && !addMeToMapFormGroup.controls['city'].valid" class="errors">
        <div class="alert alert-danger">
            <p>City is required!</p>
        </div>
    </div>

    <div class="row inline-form">

        <!--STATE-->
        <div class="form-group inline-form__input">
            <label class="sr-only" for="state">State</label>
            <ng-select
                    [options]="stateListForSelect"
                    placeholder="State"
                    id = "state"
                    class ="dropdown-select"
                    formControlName="state"
                    [allowClear]="true">
            </ng-select>
        </div>

        <!--ZIP-->
        <div class="form-group inline-form__input">
            <label class="sr-only" for="zip">Zip Code</label>
            <input tabindex="5"
                   type="tel"
                   onlyTheseKeys="[0-9\-]"
                   class="form-control"
                   maxlength="10"
                   placeholder="Zip Code"
                   formControlName="zip"
                   id = "zip"
                   name="zip"
                   pattern="^(\d{5}|\d{5}-\d{4})$">
        </div>
    </div>

    <div class="errors" *ngIf="( addMeToMapFormGroup.controls['state'].touched && !addMeToMapFormGroup.controls['state'].valid )
        || (addMeToMapFormGroup.controls['zip'].touched && !addMeToMapFormGroup.controls['zip'].valid)">
        <div class="alert alert-danger">
            <ul>
                <li *ngIf="addMeToMapFormGroup.controls['state'].touched && !addMeToMapFormGroup.controls['state'].valid">
                    <span>State is required</span>
                </li>
                <li *ngIf="addMeToMapFormGroup.controls['zip'].touched && !addMeToMapFormGroup.controls['zip'].valid">
                    <span>Zip is required</span>
                </li>
            </ul>
        </div>
    </div>

    <footer class="page-footer">
        <input type="submit" [disabled]="addMeToMapFormGroup.invalid" class="btn btn-secondary btn-block" value="Add">
    </footer>

    <br>

    <div *ngIf="submissionError">
        <div class="alert alert-danger">
            <p><span [innerHTML]="content.getContent('generalError')"></span></p>
        </div>
    </div>

</form>

