<div class="page-header page-header--border-btm">
  <h2>Amount:</h2>
</div>

<div class="alert alert-warning" *ngIf="gift.init && previousAmount">
  <strong>Welcome back!</strong><br>Would you like to make another <a href="#" (click)="gift.amount=previousAmount; next();">${{previousAmount}} donation</a>?
</div>

<div class="btn-group btn-group--flex btn-group--underline">
  <template ngFor let-amount [ngForOf]="predefinedAmounts" let-i="index">
    <button class="btn btn-option btn-option--no-outline" (click)="onSelectAmount($event, amount)" [ngClass]="{ active: (!customAmount && gift.amount == amount) }">${{amount}}</button>
  </template>
</div>

<form [formGroup]="form" (ngSubmit)="next()">

  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="number" class="form-control" placeholder="Or Enter Amount" [formControl]="form.get('customAmount')" [(ngModel)]="customAmount" (ngModelChange)="onCustomAmount($event)" pattern="[0-9]*">
    </div>
  </div>

  <footer class="page-footer page-footer--pt-1">
    <input type="submit" class="btn btn-next btn-block pull-right" (click)="next()" [ngClass]="{ disabled: !form.controls.amount.valid }" value="Next">
  </footer>
</form>
