iframe {
  width: 100%;
}

.row {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
}
.column {
  width: 100%;
  float: left;
  display: block;
  margin: 0;
  padding: .5em;
  border: 0;
  box-sizing: border-box;
  min-height: 70px;
  border: 1px solid #000;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}

.column-eighth {
  border: 1px solid #f00;
}
.column-fourth {
  border: 1px solid #0f0;
}
.column-half {
  border: 1px solid #00f;
}

.container {
  max-width:  100% !important;
}

@media (min-width: 480px) {
  .column-eighth {
  width: 50%;
  }
}

@media (min-width: 768px) {
  .column-eighth {
  width: 25%;
  }
  .column-fourth {
  width: 50%;
  }
}

@media (min-width: 1024px) {
  .column-eighth {
  width: 12.5%;
  }
  .column-fourth {
  width: 25%;
  }
  .column-half {
  width: 50%;
  }
}