
<h1>iFrame Resizing Test</h1>
<div class="responsive">
    <div class="row">
        <div class="column"></div>
    </div>
    <div class="row">
        <div class="column column-half">
        <h3 style="color:#900;">No Resize Enabled</h3>
        <iframe id="noResize" src="demo/iframe" frameborder="0"></iframe>    
        </div>
        <div class="column column-half">
        <h3 style="color:#090;">Resize Enabled</h3>
        <iframe id="hasResize" src="demo/iframe" frameborder="0"></iframe>  
        </div>
    </div>
    <div class="row">
        <div class="column column-fourth">&nbsp;</div>
        <div class="column column-fourth">&nbsp;</div>
        <div class="column column-fourth">&nbsp;</div>
        <div class="column column-fourth">&nbsp;</div>
    </div>
    <div class="row">
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
    </div>
</div>