<header class="page-header page-header--border-btm page-header--mb-0">
  <h2>Confirm:</h2>
</header>

<table class="table">
  <tr>
    <td *ngIf="gift.type == 'donation'"><a routerLink="/payment">Amount:</a></td>
    <td *ngIf="gift.type == 'payment'">Amount:</td>
    <td class="text-right confirm-amount">{{ gift.amount | currency:'USD':true }}</td>
  </tr>
  <tr>
    <td *ngIf="gift.type == 'donation'"><a routerLink="/fund">To:</a></td>
    <td *ngIf="gift.type == 'payment'">To:</td>
    <td *ngIf="gift.type == 'donation'" class="text-right">{{ gift.fund.Name }}</td>
    <td *ngIf="gift.type == 'payment'" class="text-right">{{ gift.title }}</td>
  </tr>
  <tr>
    <td *ngIf="gift.type == 'donation'"><a routerLink="/auth">From:</a></td>
    <td *ngIf="gift.type == 'payment'">From:</td>
    <td class="text-right">
      {{ gift.email }}<br>
      <small *ngIf="gift.type == 'donation'"><a routerLink="/auth" (click)="changePayment()">log out</a></small>
    </td>
  </tr>
  <tr *ngIf="gift.type != 'payment'">
    <td><a routerLink="/fund">Frequency:</a></td>
    <td class="text-right">
      {{ gift.frequency }}<br>
      <small *ngIf="gift.frequency != 'One Time'">Starting on {{ gift.start_date | date: 'MM/dd/yyyy' }}</small>
    </td>
  </tr>
  <tr>
    <td *ngIf="gift.type == 'donation'"><a routerLink="/billing" (click)="changePayment()">Payment:</a></td>
    <td *ngIf="gift.type == 'payment'">Payment:</td>
    <td class="text-right">
      Account ending in {{ lastFourOfAcctNumber | slice:-4 }}<br>
      <small><a routerLink="/billing" (click)="changePayment()">change</a></small>
    </td>
  </tr>
</table>
<div *ngIf="gift.systemException" class="alert alert-danger">
  Something went wrong, please try again. If the problem persists, contact the administrator at helpdesk@crossroads.net.
</div>

<footer class="page-footer page-footer--pt-1">
  <input type="button" class="btn btn-previous pull-left" (click)="back()" value="Back">
  <input type="button" *ngIf="gift.type == 'donation'" [disabled]="paymentSubmitted" class="btn btn-next pull-right" (click)="next()" value="Give {{ gift.amount | currency:'USD':true }}">
  <input type="button" *ngIf="gift.type == 'payment'" [disabled]="paymentSubmitted" class="btn btn-next pull-right" (click)="next()" value="Pay {{ gift.amount | currency:'USD':true }}">
</footer>

