<div class="contrast-background">
  <header class="page-header page-header--border-btm page-header--mb-0">
    <h2>Confirm:</h2>
  </header>

  <table class="table">
    <tr>
      <td *ngIf="store.isDonation()"><a routerLink="/amount">Amount:</a></td>
      <td *ngIf="store.isPayment()">Amount:</td>
      <td class="text-right confirm-amount">{{ store.amount | currency:'USD':true }}</td>
    </tr>
    <tr>
      <td *ngIf="store.isDonation()"><a routerLink="/fund">To:</a></td>
      <td *ngIf="store.isPayment()">To:</td>
      <td *ngIf="store.isDonation()" class="text-right">{{ store.fund.Name }}</td>
      <td *ngIf="store.isPayment()" class="text-right">{{ store.title }}</td>
    </tr>
    <tr>
      <td *ngIf="store.isDonation()"><a routerLink="/authentication" (click)="changeUser()">From:</a></td>
      <td *ngIf="store.isPayment()">From:</td>
      <td class="text-right">
        {{ store.email }}<br>
        <small *ngIf="store.isDonation() && !store.isGuest"><a routerLink="/authentication" (click)="changeUser()">log out</a></small>
        <small *ngIf="store.isDonation() && store.isGuest"><a routerLink="/authentication">change</a></small>
      </td>
    </tr>
    <tr *ngIf="!store.isPayment()">
      <td><a routerLink="/fund">Frequency:</a></td>
      <td class="text-right">
        {{ store.frequency.display }}<br>
        <small *ngIf="store.isRecurringGift()">Starting on {{ store.startDate | date: 'MM/dd/yyyy' }}</small>
      </td>
    </tr>
    <tr>
      <td *ngIf="store.isDonation()"><a routerLink="/billing" (click)="changePayment()">Payment:</a></td>
      <td *ngIf="store.isPayment()">Payment:</td>
      <td class="text-right">
        Account ending in {{ lastFourOfAcctNumber | slice:-4 }}<br>
        <small><a routerLink="/billing" (click)="changePayment()">change</a></small>
      </td>
    </tr>
  </table>
  <div *ngIf="store.systemException" class="alert alert-danger">
    Something went wrong, please try again. If the problem persists, contact the administrator at helpdesk@crossroads.net.
  </div>
</div>

<footer class="page-footer page-footer--pt-1">
  <input type="button" class="btn btn-previous pull-left" (click)="back()" *ngIf="!hideBack()" value="Back">
  <input type="button"
         *ngIf="store.isDonation()"
         [disabled]="isSubmitInProgress"
         class="btn btn-next pull-right"
         (click)="submitDonation()"
         value="Give {{ store.amount | currency:'USD':true }}">

  <input type="button"
         *ngIf="store.isPayment()"
         [disabled]="isSubmitInProgress"
         class="btn btn-next pull-right"
         (click)="submitPayment()"
         value="Pay {{ store.amount | currency:'USD':true }}">
</footer>
