<div *ngIf="store.errors.length > 0" id="error">
  <div class="page-header">
    <h2>Errors:</h2>
  </div>
  <alert *ngFor="let error of store.errors">{{ error }}</alert>
</div>
<div *ngIf="store.errors.length <= 0">
  <div class="page-header page-header--border-btm">
    <h2>Amount</h2>
  </div>

  <div *ngIf="store.isDonation()">
    <div class="btn-group btn-group--flex-row">
      <button *ngFor="let amount of predefinedAmounts"
              class="btn btn-option btn-option--flex-item btn-option--no-outline"
              (click)="onSelectAmount(amount)"
              [ngClass]="{ active: (!customAmount && store.amount == amount) }">
        {{ amount | currency: "USD": true:'1.0-0' }}
      </button>
    </div>

    <form class="form--underline custom-input-payment__input" [formGroup]="form" [class.submitted]="submitted" (ngSubmit)="next()">
      <div class="form-group">
        <label class="sr-only" for="custom-amount">Amount (in dollars)</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="tel"
                class="form-control"
                placeholder="Or Enter Amount"
                id="custom-amount"
                maxlength="9"
                formControlName="customAmount"
                onlyTheseKeys="[0-9\.]"
                currency
                [(ngModel)]="customAmount"
                (ngModelChange)="onCustomAmount($event)">
        </div>
      </div>

      <div class="errors" *ngIf="( !store.validAmount() && submitted )">
        <div class="alert alert-danger" [innerHTML]="errorMessage"></div>
      </div>
    </form>
  </div>

  <div *ngIf="store.isPayment()">
    <div class="btn-group btn-group--flex-col btn-group--underline">
      <button *ngFor="let item of amountDue"
              type="button"
              class="btn-payment btn btn-option btn-option--flex-item"
              (click)="onSelectAmount(item.amount)"
              [ngClass]="{ active: (!customAmtSelected && store.amount == item.amount) }">
        <div class="row">
          <div>
            <span class="btn-payment__icon">
              <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
              <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
            </span>
            {{ item.label }}:
          </div>
          <div class="payment--lg">
            {{ item.amount | currency: "USD": true }}
          </div>
        </div>
      </button>

      <button type="button"
              class="btn-payment btn btn-option btn-option--flex-item"
              (click)="selectedCustom()"
              [ngClass]="{ active: (customAmtSelected) }">
        <div class="row">
          <div>
            <span class="btn-payment__icon">
              <i class="fa fa-circle-thin fa-2x" aria-hidden="true"></i>
              <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
            </span>
            Other Amount...
          </div>
        </div>
      </button>

      <div class="custom-input-payment">
        <span class="custom-input-payment__icon"><i class="fa fa-caret-right" aria-hidden="true"></i></span>

        <form class="custom-input-payment__input" [formGroup]="form" [class.submitted]="submitted" (ngSubmit)="next()">
          <div class="form-group">
            <label class="sr-only" for="custom-amount">Amount (in dollars)</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text"
                    class="form-control"
                    placeholder="Enter Amount"
                    id="custom-amount"
                    maxlength="9"
                    formControlName="customAmount"
                    onlyTheseKeys="[0-9\.]"
                    currency
                    [(ngModel)]="customAmount"
                    (ngModelChange)="onCustomAmount($event)">
            </div>
          </div>
        </form>
      </div>

      <div class="errors" *ngIf="( !isValid() && submitted )">
        <div class="alert alert-danger" [innerHTML]="errorMessage"></div>
      </div>
    </div>

  </div>

  <footer class="page-footer">
    <input type="button" class="btn btn-next btn-block" (click)="submitAmount()" value="Next">
  </footer>
</div>



