<div *ngIf="store.errors.length > 0" id="error">
  <header class="component-header">Errors:</header>
  <alert *ngFor="let error of store.errors">{{ error }}</alert>
</div>
<div *ngIf="store.errors.length <= 0">
  <header class="component-header">Amount</header>
  <hr>

  <!-- DONATION -->
  <div *ngIf="store.isDonation()">
    <div class="btn-group btn-group-row">
      <button *ngFor="let amount of predefinedAmounts"
              class="btn btn-option btn-flex btn-no-outline"
              (click)="onSelectAmount(amount)"
              [ngClass]="{ active: (!customAmount && store.amount == amount) }"
              isPredefinedToggle
              [inputType]="'predefinedAmount'">
        {{ amount | currency: "USD": true:'1.0-0' }}
      </button>
    </div>

    <hr>

    <form class="custom-input-payment__input" action="/" [formGroup]="form" [class.submitted]="submitted" (ngSubmit)="store.preSubmit($event);submitAmount();" novalidate>
      <div class="form-group">
        <label class="sr-only" for="custom-amount">Amount (in dollars)</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="tel"
                class="form-control"
                placeholder="Or Enter Amount"
                id="custom-amount"
                maxlength="9"
                formControlName="customAmount"
                onlyTheseKeys="[0-9\.]"
                currency
                [(ngModel)]="customAmount"
                (ngModelChange)="onCustomAmount($event)"
                isPredefinedToggle
                [inputType]="'customAmount'">
        </div>
      </div>

      <div class="errors" *ngIf="( !store.validAmount() && submitted )">
        <div class="alert alert-danger" [innerHTML]="errorMessage"></div>
      </div>
    </form>
  </div>

  <!-- PAYMENT -->
  <div class="payment" *ngIf="store.isPayment()">
    <div class="btn-group btn-group-block">
      <button *ngFor="let item of amountDue"
              type="button"
              class="btn btn-option btn-flex btn-outline"
              (click)="onSelectAmount(item.amount)"
              [ngClass]="{ active: (!customAmtSelected && store.amount == item.amount) }">
        <div class="row">
          <div>{{ item.label }}:</div>
          <div>{{ item.amount | currency: "USD": true }}</div>
        </div>
      </button>

      <button type="button"
              class="btn btn-option btn-flex btn-outline"
              (click)="selectedCustom()"
              [ngClass]="{ active: (customAmtSelected) }">
        <div class="row">
          <div class="text-left">Other Amount...</div>
        </div>
      </button>

      <div class="custom-input" *ngIf="customAmtSelected">
        <form class="custom-input-field"
              action="/"
              [formGroup]="form"
              [class.submitted]="submitted"
              (ngSubmit)="store.preSubmit($event);submitAmount();" novalidate>
          <div class="form-group">
            <label class="sr-only" for="custom-amount">Amount (in dollars)</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text"
                    class="form-control"
                    placeholder="Enter Amount"
                    id="custom-amount"
                    maxlength="9"
                    formControlName="customAmount"
                    onlyTheseKeys="[0-9\.]"
                    currency
                    [(ngModel)]="customAmount"
                    (ngModelChange)="onCustomAmount($event)">
            </div>
          </div>
        </form>
      </div>

      <div class="errors" *ngIf="( !this.form.valid && submitted )">
        <div class="alert alert-danger" [innerHTML]="errorMessage"></div>
      </div>
    </div>
  </div>

  <hr>

  <footer class="page-footer">
    <input type="button" class="btn btn-primary btn-block" (click)="store.preSubmit($event);submitAmount();" value="Next">
  </footer>
</div>



