// Brand Colors
$cr-light-blue: #0095D9;
$cr-blue: #3b6e8f; //PMS 5405 C58 M17 Y0   K46
$cr-orange: #b05c30; //PMS 167  C0  M60 Y100 K17
$cr-dkblue: #113556;
$cr-grey: #878785; //PMS Cool Grey 9
$cr-teal: #56AFA9;

// Bootstrap Overrides
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$brand-primary: $cr-light-blue;