/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'buttons';

h2, h3 {
  font-size: 150%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}

.page-header {
  margin: 0 0 1em;
  h2, h3 {
    margin: 0;
  }
}

.page-footer {
  @include clearfix;
}

hr,
tbody > tr > td,
.page-header {
  // border-color: #ddd;
}

.page-header {
  text-transform: uppercase;
  font-family: "bebas-neue",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  color: $text-color-dark;

  &--underline {
    border-bottom: 1px solid $accent-color;
  }
}

.btn-form {
  button {
    border-color: $accent-color;
    color: $text-color-dark;
    font-size: .9em;
  }

  &--underline {
    border-bottom: 1px solid $accent-color;
    margin-bottom: 1em;
    padding-bottom: 1.5em;
  }

  &__header {
    text-transform: uppercase;
    color: $text-color;
    font-size: .9em;
  }
}

.btn {
  border-radius: 2px;
}
