@import '~crds-styles/assets/stylesheets/bootstrap';

.dark-theme {
  background: lighten($cr-gray-darker, .75);
}

.container {
  margin: 1em auto;
  width: auto;
}

app-preloader {
  display: none;
  .loading & {
    display: block;
  }
}

.outlet-wrapper {
  display: block;
  .loading & {
    display: none;
  }
}

.truncated-email {
  @media (max-width: $screen-xs) {
    max-width: 200px;
  }
  @media (max-width: 380px) {
    max-width: 160px;
  }
  @media (max-width: 343px) {
    max-width: 140px;
  }
  display: block;
  float: right;
}