<header class="component-header">Payment Type:</header>

<div class="btn-group btn-group-toggle btn-group-teal">
  <label class="btn btn-option" [(ngModel)]="store.paymentMethod" btnRadio="Bank Account">Bank Account</label>
  <label class="btn btn-option" [(ngModel)]="store.paymentMethod" btnRadio="Credit Card">Credit Card</label>
</div>

<div *ngIf="store.paymentMethod == 'Bank Account'" heading="Bank Account">
  <h3 class="form-header flush-top">Account Type:</h3>

  <form [formGroup]="achForm" action="/" [class.submitted]="achSubmitted" (ngSubmit)="store.preSubmit($event);achSubmit();" novalidate>
    <div class="radio radio-inline">
      <input type="radio"
             formControlName="accountType"
             [(ngModel)]="store.accountType"
             value="individual"
             id="individual"
             checked>
      <label for="individual" class="font-size-small">
        Personal
      </label>
      <div class="check" tabindex="0"></div>
    </div>
    <div class="radio radio-inline">
      <input type="radio"
              formControlName="accountType"
              [(ngModel)]="store.accountType"
              value="company"
              id="company"
              checked>
      <label for="company" class="font-size-small">
        Business
      </label>
      <div class="check" tabindex="0"></div>
    </div>

    <div class="form-row push-top">
      <div class="form-group form-col-1">
        <label class="sr-only" for="accountName">Account Name</label>
        <input type="text"
          class="form-control"
          placeholder="Account Holder Name"
          formControlName="accountName"
          name="accountName"
          [(ngModel)]="store.accountName"
          pattern=".*"
          autocomplete="off">

        <div class="errors" *ngIf="(achSubmitted) && !achForm.controls['accountName'].valid">
          <p class="error help-block">Account name <span [innerHTML]="switchMessage(achForm.controls['accountName'].errors)"></span></p>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group form-col-1">
        <label class="sr-only" for="routingNumber">Routing Number</label>
        <input type="tel"
          onlyTheseKeys="[0-9]"
          class="form-control"
          maxlength="9"
          placeholder="Routing Number"
          formControlName="routingNumber"
          name="routingNumber"
          formatPaymentNumber
          [(ngModel)]="store.routingNumber"
          numbersOnly
          pattern="[0-9]*"
          autocomplete="off">

        <div class="errors" *ngIf="(achSubmitted) && !achForm.controls['routingNumber'].valid">
          <p class="error help-block">Routing number <span [innerHTML]="switchMessage(achForm.controls['routingNumber'].errors)"></span></p>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group form-col-1">
        <label class="sr-only" for="accountNumber">Account Number</label>
        <input type="tel"
          onlyTheseKeys="[0-9]"
          class="form-control"
          maxlength="30"
          placeholder="{{accountNumberPlaceholder}}"
          formControlName="accountNumber"
          name="accountNumber"
          formatPaymentNumber
          [(ngModel)]="store.accountNumber"
          numbersOnly
          pattern="\s*[0-9]*\s*"
          autocomplete="off">

        <div class="errors" *ngIf="(achSubmitted) && !achForm.controls['accountNumber'].valid">
          <p class="error help-block">Account number <span [innerHTML]="switchMessage(achForm.controls['accountNumber'].errors)"></span></p>
        </div>
      </div>
    </div>

    <div *ngIf="store.stripeException" class="alert alert-danger" [innerHtml]="store.content.getContent('paymentMethodDeclined')"></div>
    <div *ngIf="store.systemException" class="alert alert-danger" [innerHtml]="store.content.getContent('failedResponse')"></div>

    <div class="sample-check">
      <a class="font-size-smaller" (click)="hideCheck = false;" *ngIf="hideCheck" [innerHtml]="store.content.getContent('embedBillingShowExampleCheck')"></a>
      <a class="font-size-smaller" (click)="hideCheck = true;" *ngIf="!hideCheck" [innerHtml]="store.content.getContent('embedBillingHideExampleCheck')"></a>

      <div [collapse]="hideCheck">
        <img src="/assets/check.svg" alt="" class="img-responsive">
      </div>
    </div>

    <hr>

    <footer class="page-footer">
      <input type="button" class="btn btn-gray pull-left" (click)="back()" *ngIf="!hideBack()" value="Back">
      <input type="submit" class="btn btn-primary pull-right" (click)="store.preSubmit($event);achSubmit();" value="Next">
    </footer>
  </form>
</div>

<div *ngIf="store.paymentMethod == 'Credit Card'" heading="Credit Card">

  <div>
    <alert dismissible="true" ><span [innerHtml]="store.content.getContent('embedPleaseUseBank')"></span> </alert>
  </div>

  <form [formGroup]="ccForm" action="/" [class.submitted]="ccSubmitted" (ngSubmit)="store.preSubmit($event);ccSubmit();" novalidate>
    <div class="form-row">
      <div class="form-group form-col-1">
        <label class="sr-only" for="ccNumber">Credit Card Number</label>
        <input tabindex="1"
               type="tel"
               class="form-control"
               maxlength="16"
               placeholder="Credit Card Number"
               formControlName="ccNumber"
               name="ccNumber"
               [(ngModel)]="store.ccNumber"
               formatPaymentNumber
               onlyTheseKeys="[0-9]"
               autocomplete="cc-number">

        <div *ngIf="ccSubmitted && !ccForm.controls['ccNumber'].valid" class="errors">
          <p class="error help-block">Card number <span [innerHTML]="switchMessage(ccForm.controls['ccNumber'].errors)"></span></p>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group form-col-3">
        <label class="sr-only" for="expDate">Expiration Date</label>
        <input tabindex="2"
          type="tel"
          class="form-control"
          maxlength="7"
          placeholder="MM/YY"
          formControlName="expDate"
          name="expDate"
          [(ngModel)]="store.expDate"
          ccExp
          autocomplete="cc-exp">

        <div class="errors" *ngIf="ccSubmitted && !ccForm.controls['expDate'].valid">
          <p class="error help-block">Expiration Date <span [innerHTML]="switchMessage(ccForm.controls['expDate'].errors)"></span></p>
        </div>
      </div>

      <div class="form-group form-col-3">
        <label class="sr-only" for="cvv">CVV Number</label>
        <input tabindex="3"
          type="tel"
          onlyTheseKeys="[0-9\-]"
          class="form-control"
          maxlength="4"
          placeholder="CVV"
          formControlName="cvv"
          name="cvv"
          [(ngModel)]="store.cvv"
          ccCVV
          autocomplete="off">

        <div class="errors" *ngIf="ccSubmitted && !ccForm.controls['cvv'].valid">
          <p class="error help-block">CVV <span [innerHTML]="switchMessage(ccForm.controls['cvv'].errors)"></span></p>
        </div>
      </div>

      <div class="form-group form-col-3">
        <label class="sr-only" for="zipCode">Zip Code</label>
        <input tabindex="4"
          type="tel"
          onlyTheseKeys="[0-9\-]"
          class="form-control"
          maxlength="10"
          placeholder="Zip Code"
          formControlName="zipCode"
          name="zipCode"
          [(ngModel)]="store.zipCode"
          pattern="^(\d{5}|\d{5}-\d{4})$"
          autocomplete="zip-code">

        <div class="errors" *ngIf="ccSubmitted && !ccForm.controls['zipCode'].valid">
          <p class="error help-block">Zip code <span [innerHTML]="switchMessage(ccForm.controls['zipCode'].errors)"></span></p>
        </div>
      </div>
    </div>

    <div *ngIf="store.stripeException" class="alert alert-danger" [innerHtml]="store.content.getContent('paymentMethodDeclined')"></div>
    <div *ngIf="store.systemException" class="alert alert-danger" [innerHtml]="store.content.getContent('failedResponse')"></div>

    <hr>

    <footer class="page-footer">
      <input type="button" class="btn btn-gray pull-left" (click)="back()" *ngIf="!hideBack()" value="Back">
      <input type="submit" class="btn btn-primary pull-right" (click)="store.preSubmit($event);ccSubmit();" value="Next">
    </footer>
  </form>
</div>
