<header class="page-header">
  <h2>Confirm:</h2>
</header>

<table class="table">
  <tr>
    <td><a routerLink="/prototype/{{ gift.flow_type}}/amount"><strong>Amount:</strong></a></td>
    <td class="text-right">{{ gift.amount | currency:'USD':true }}</td>
  </tr>
  <tr *ngIf="gift.flow_type == 'gift'">
    <td><a routerLink="/prototype/{{ gift.flow_type}}/details"><strong>To:</strong></a></td>
    <td class="text-right">{{ gift.fund }}</td>
  </tr>
  <tr *ngIf="gift.flow_type == 'payment'">
    <td><a routerLink="/prototype/{{ gift.flow_type}}/details"><strong>Product:</strong></a></td>
    <td class="text-right">{{ gift.product_name }}</td>
  </tr>
  <tr>
    <td><a routerLink="/prototype/{{ gift.flow_type}}/email"><strong>From:</strong></a></td>
    <td class="text-right">
      {{ gift.email }}<br>
      <small *ngIf="isGuest()"><a routerLink="/prototype/{{ gift.flow_type}}/email">change</a></small>
    </td>
  </tr>
  <tr *ngIf="gift.flow_type != 'payment'">
    <td><a routerLink="/prototype/{{ gift.flow_type}}/details"><strong>Frequency:</strong></a></td>
    <td class="text-right">
      {{ gift.frequency }}<br>
      <small *ngIf="gift.frequency != 'One Time'">Starting on {{ gift.start_date | date: 'MM/dd/yyyy' }}</small>
    </td>
  </tr>
  <tr>
    <td><a routerLink="/prototype/{{ gift.flow_type}}/payment"><strong>Payment:</strong></a></td>
    <td class="text-right">
      Account ending in {{ gift.accountNumber() | slice:-4 }}<br>
      <small><a routerLink="/prototype/{{ gift.flow_type}}/payment">change</a></small>
    </td>
  </tr>
</table>

<footer class="page-footer">
  <a href="#" class="btn btn-previous pull-left" (click)="back()">Go Back</a>
  <a href="#" class="btn btn-next pull-right" (click)="next()">Submit {{ gift.amount | currency:'USD':true }}</a>
</footer>
