<header class="page-header page-header--border-btm">
  <h2>Details:</h2>
</header>

<form [formGroup]="form">

  <div *ngIf="isFundSelectShown">
    <h4>Give To:</h4>
    <div class="btn-group btn-group--flex btn-group--underline">
      <template ngFor let-fund [ngForOf]="funds" let-i="index">
        <button class="btn btn-option btn-option--flex-item"
                (click)="onClickFund(fund)"
                [ngClass]="{ active: (gift.fund.Name == fund.Name) }">{{fund.Name}}</button>
      </template>
    </div>
  </div>

  <h4>Frequency:</h4>
  <div class="btn-group btn-group--flex btn-group--underline">
    <div class="btn-group">
    <template ngFor let-frequency [ngForOf]="defaultFrequencies" let-i="index">
      <button class="btn btn-option btn-option--flex-item"
             (click)="onClickFrequency(frequency)"
             [ngClass]="{ active: (gift.frequency == frequency),
                          disabled: (!gift.fund.AllowRecurringGiving && frequency != 'One Time') }">{{frequency}}
      </button>
    </template>
    </div>
  </div>

</form>

<div *ngIf="gift.frequency !== 'One Time' && !gift.start_date">
  <h3 class="btn-form__header">Recurs On:</h3>
  <datepicker [(ngModel)]="gift.start_date"
              [minDate]="minDate"
              [showWeeks]="false">
  </datepicker>
</div>

<div class="alert alert-warning" *ngIf="gift.start_date && gift.frequency !== 'One Time'">
  Starting on {{ gift.start_date | date: 'MM/dd/yyyy' }}. <button (click)="onClickChangeDate()">Change</button>
</div>

<footer class="page-footer">
  <input type="button" class="btn btn-previous pull-left" (click)="back()" value="Back">
  <input type="button" class="btn btn-next pull-right" (click)="next()" [disabled]="!form.valid || !gift.start_date" value="Next">
</footer>
