<header class="component-header">Details:</header>
<hr class="flush-top">

<form [formGroup]="form">
  <div *ngIf="isFundSelectShown">
    <h3 class="control-label">Give To:</h3>
    <div class="btn-group">
      <button *ngFor="let fund of funds"
              class="btn btn-option btn-outline"
              (click)="onClickFund(fund)"
              [ngClass]="{ active: (store.fund.ID === fund.ID) }">{{fund.Name}}</button>
    </div>
  </div>

  <hr>

  <div>
    <h3 class="control-label">Frequency:</h3>
    <div class="btn-group">
      <button *ngFor="let frequency of store.frequencies"
              class="btn btn-option btn-outline"
              (click)="onClickFrequency(frequency)"
              [ngClass]="{ active: (store.frequency.value == frequency.value),
                          disabled: (!store.fund.AllowRecurringGiving && frequency.recurring === true) }">
        {{frequency.display}}
      </button>
    </div>
  </div>

  <hr>
</form>

<div *ngIf="store.isRecurringGift()">
  <h3 class="control-label">Starts On:</h3>
  <form class="form-group">
    <label for="recurring_date" class="sr-only">Set recurring date</label>
    <div class="input-group input-group-right" (click)="toggleDatePicker(true)">
      <input *ngIf="store.startDate"
        id="recurring_date"
        class="form-control"
        name="recurring_date"
        type="text"
        value="{{ store.startDate.getTime() | date: 'MM/d/yyyy' }}"
        required="required"
        readonly>
      <span class="input-group-addon">
        <svg class="icon" viewBox="0 0 256 256">
          <use height="256" width="256" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#calendar"></use>
        </svg>
      </span>
    </div>
  </form>

  <datepicker
    [ngClass]="{ visible: showDatePicker }"
    [(ngModel)]="selectedDate"
    (ngModelChange)="updateStartDate($event);"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [showWeeks]="false">
  </datepicker>

  <hr>
</div>

<footer class="page-footer">
  <input class="btn btn-gray pull-left" type="button" (click)="back()" value="Back">
  <input type="button"
    class="btn btn-primary pull-right"
    (click)="submitFrequency()"
    [disabled]="!form.valid || store.isRecurringGiftWithNoStartDate()"
    value="Next">
</footer>
