<header class="page-header">
  <h2>Register An Account</h2>
</header>

<form [formGroup]="form">

  <div class="row inline-form">
    <div class="inline-form__input--half">
      <input type="text" class="form-control" placeholder="First Name">
    </div>
    <div class="inline-form__input--half">
      <input type="text" class="form-control" placeholder="Last Name">
    </div>
  </div><br>

  <input type="text" class="form-control" placeholder="Email Address" [formControl]="form.get('email')"><br>
  <input type="password" class="form-control" placeholder="Password"><br>

  <p class="text-block"><small class="text-muted">By registering, you agree to our <a href="#" class="text-block__link--underline">terms of service</a> and <a href="#" class="text-block__link--underline">privacy policy</a>. You will begin receiving email communications. Preferences can be managed in your profile.</small></p>

  <footer class="page-footer">
    <a href="#" class="btn pull-left" (click)="back()">Already have an account? Sign In</a>
    <a href="#" class="btn btn-next pull-right" (click)="next()" [ngClass]="{ disabled: !form.valid }">Register</a>
  </footer>

</form>
