<div class="contrast-background">
  <header class="page-header page-header--no-btm-space">
    <h2>Thanks!</h2>
  </header>

  <p *ngIf="gift.isDonation() && gift.frequency === 'One Time'" class="text-block--lg-font word-wrapped ">
     Thank you for your <strong>{{ gift.amount | currency:'USD':true | lowercase }}</strong> gift to <strong>{{ gift.fund.Name }}</strong>.
    A receipt has been sent to <strong>{{ gift.email }}</strong>.
  </p>

  <p *ngIf="gift.isDonation() && gift.frequency != 'One Time'" class="text-block--lg-font word-wrapped ">
    Your Recurring Gift was successfully created! Thank you for setting up a Recurring Gift.
    We will process your Recurring Gift of <strong>{{ gift.amount | currency:'USD':true | lowercase }}</strong> for
    <strong>{{ gift.fund.Name }}</strong> on <strong>{{ frequencyCalculation() }}</strong>.
    Your statement will be sent to <strong>{{ gift.email }}</strong>.
  </p>

  <p *ngIf="gift.isPayment()" class="text-block--lg-font word-wrapped ">
    Thank you for the <strong>{{ gift.amount | currency:'USD':true | lowercase }}</strong> payment<span *ngIf="gift.title"> for <strong>{{ gift.title }}</strong></span>.
    A receipt has been sent to <strong>{{ gift.email }}</strong>.
  </p>

</div>
