<div *ngIf="gift.errors.length > 0" id="error">
  <div class="page-header">
    <h2>Errors:</h2>
  </div>
  <alert *ngFor="let error of gift.errors">{{ error }}</alert>
</div>
<div *ngIf="gift.errors.length <= 0">
  <div class="page-header">
    <h2>Amount:</h2>
  </div>

  <div *ngIf="gift.type === 'donation'">
    <div class="donation-previous-amount">
      <div class="alert alert-warning" *ngIf="previousAmount">
        <strong>Welcome back!</strong><br>Would you like to make another <a href="#" (click)="gift.amount=previousAmount; next();">${{previousAmount}} donation</a>?
      </div>
    </div>
    <div class="btn-group btn-group--flex btn-group--underline">
      <button *ngFor="let amount of gift.predefinedAmounts"
              class="btn btn-option btn-option--flex-item"
              (click)="onSelectAmount($event, amount)"
              [ngClass]="{ active: (!customAmount && gift.amount == amount) }">
        {{ amount | currency: "USD": true }}
      </button>
    </div>
  </div>

  <div *ngIf="gift.type === 'payment'">
    <div class="btn-group btn-group--flex btn-group--underline">
      <button *ngFor="let item of amountDue"
              class="btn btn-option btn-option--flex-item"
              (click)="onSelectAmount($event, item.amount)"
              [ngClass]="{ active: (!customAmount && gift.amount == item.amount) }">
        {{ item.label }}: {{ item.amount | currency: "USD": true }}
      </button>
    </div>
  </div>

  <form [formGroup]="form" [class.submitted]="ccSubmitted" (ngSubmit)="next()">

    <div class="form-group">
      <label class="sr-only" for="custom-amount">Amount (in dollars)</label>
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text"
               class="form-control"
               placeholder="Or Enter Amount"
               id="custom-amount"
               [formControl]="form.get('customAmount')"
               [(ngModel)]="customAmount"
               (ngModelChange)="onCustomAmount($event)">
      </div>
    </div>

    <footer class="page-footer">
      <input type="button"
             class="btn btn-next btn-block"
             (click)="next()"
             value="Next"
             [disabled]="!isValid()"
      >
    </footer>

  </form>
</div>



