.donation-previous-amount {
  a {
    cursor: pointer;
  }
}

.async-preloader {
  .preloader {
    position: relative;
    width: 38px;
    height: 38px;
    margin: 0;
    top: 0;
    left: calc(50% - 19px);
  }
}
