<div *ngIf="gift.errors.length > 0" id="error">
  <div class="page-header">
    <h2>Errors:</h2>
  </div>
  <alert *ngFor="let error of gift.errors">{{ error }}</alert>
</div>
<div *ngIf="gift.errors.length <= 0">
  <div class="page-header page-header--border-btm">
    <h2>Amount:</h2>
  </div>

  <div *ngIf="gift.type === 'donation'">
    <div class="btn-group btn-group--flex btn-group--underline">
      <button *ngFor="let amount of predefinedAmounts"
              class="btn btn-option btn-option--flex-item"
              (click)="onSelectAmount($event, amount)"
              [ngClass]="{ active: (!customAmount && gift.amount == amount) }">
        {{ amount | currency: "USD": true }}
      </button>
    </div>
  </div>

  <div *ngIf="gift.type === 'payment'">
    <div class="btn-group btn-group--flex btn-group--underline">
      <button *ngFor="let item of amountDue"
              class="btn btn-option btn-option--flex-item"
              (click)="onSelectAmount($event, item.amount)"
              [ngClass]="{ active: (!customAmount && gift.amount == item.amount) }">
        {{ item.label }}: {{ item.amount | currency: "USD": true }}
      </button>
    </div>
  </div>

  <form [formGroup]="form" [class.submitted]="submitted" (ngSubmit)="next()">

    <div class="form-group">
      <label class="sr-only" for="custom-amount">Amount (in dollars)</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text"
               class="form-control"
               placeholder="Or Enter Amount"
               id="custom-amount"
               maxlength="9"
               formControlName="customAmount"
               onlyTheseKeys="[0-9\.]"
               currency
               [(ngModel)]="customAmount"
               (ngModelChange)="onCustomAmount($event)">
      </div>
    </div>

    <div *ngIf="gift.type === 'donation'">
      <div [class.donation-previous-amount]="gift.loginService.isLoggedIn()">
        <div class="alert alert-warning" *ngIf="previousAmount">
          You previously made a ${{previousAmount}} donation. Would you like to give that amount again? <a href="#" (click)="applyPreviousAmount()">Yes</a>
        </div>
      </div>
    </div>


    <div class="errors" *ngIf="( !isValid() && submitted )">
      <div class="alert alert-danger" [innerHTML]="errorMessage"></div>
    </div>

    <footer class="page-footer">
      <input type="button" class="btn btn-next btn-block" (click)="next()" value="Next">
    </footer>

  </form>
</div>



