<nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-prototype">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#" routerLink="/prototype/switch" [ngClass]="{ active: gift.flow_type == 'gift' }">Giving Flow</a></li>
      <li><a href="#" routerLink="/prototype/switch" [ngClass]="{ active: gift.flow_type == 'payment' }">Payment Flow</a></li>
    </ul>
  </div>
</nav>
<br><br><br>

<div [ngClass]="{'loading': gift.loading}">
  <preloader></preloader>
  <div class="outlet-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!--<br><br><pre>{{ gift | json }}</pre>-->
</div>
