<h1>iFrame Resizing Test</h1>
<div class="responsive">
    <div class="row">
        <div class="column"></div>
    </div>
    <div class="row">
        <div class="column column-half">&nbsp;</div>
        <div class="column column-half">            
            <h3 style="color:#090;">Resize Enabled (no parent override)</h3>
            <iframe class="hasResize" src="/payment?type=payment&invoice_id=1234&min_payment=1&total_cost=400&override_parent=false&url=https://www.google.com" frameborder="0"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="column column-fourth">&nbsp;</div>
        <div class="column column-fourth">
            <h3 style="color:#090;">Resize Enabled (parent override)</h3>
            <iframe class="hasResize" src="/payment?type=payment&invoice_id=1234&min_payment=1&total_cost=400&url=https://www.google.com" frameborder="0"></iframe>    
        </div>
        <div class="column column-fourth">&nbsp;</div>
        <div class="column column-fourth">&nbsp;</div>
    </div>
    <div class="row">
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
        <div class="column column-eighth">&nbsp;</div>
    </div>
</div>