<div>
  <div class="btn-group btn-group-toggle btn-group-teal" *ngIf="!isFinderPage && store.isOneTimeGift() && store.isDonation()">
    <label class="btn btn-option" [(ngModel)]="signinOption" btnRadio="Sign In">I have an account</label>
    <label class="btn btn-option" [(ngModel)]="signinOption" btnRadio="Guest">Give as guest</label>
  </div>

  <div *ngIf="signinOption == 'Sign In'" heading="Sign In">
    <header class="component-header">Sign In</header>

    <hr class="flush-top">

    <form [formGroup]="form" action="/" (ngSubmit)="store.preSubmit($event);submitLogin();" novalidate>
      <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email" [formControl]="form.get('email')">

        <div *ngIf="(formSubmitted) && formInvalid('email')">
          <p class="error help-block" *ngIf="this.form.controls['email'].errors.required">Email is required</p>
          <p class="error help-block" *ngIf="this.form.controls['email'].errors.pattern">Email is invalid</p>
        </div>
      </div>


      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password"
               [formControl]="form.get('password')">

        <p class="error help-block" *ngIf="(formSubmitted) && formInvalid('password')">Password is required</p>
      </div>

      <div id="login-exception" class="alert alert-danger" *ngIf="loginException">
        <span [innerHtml]="failedMessage"></span>
      </div>

      <div class="clearfix">
        <p class="pull-right font-size-smaller">
          <a class="secondary" [href]="forgotPasswordUrl" target="_blank">Forgot password?</a><br>
          <a class="secondary" [href]="helpUrl" target="_blank">Need help?</a>
        </p>
      </div>

      <hr>

      <p *ngIf="!isFinderPage" class="font-size-smaller">Or <a routerLink="/register">register for an account</a></p>

      <footer class="page-footer">
        <a href="#" class="btn btn-gray pull-left" (click)="back()" *ngIf="!hideBack()">Back</a>
        <input type="submit" class="btn btn-primary pull-right" (click)="store.preSubmit($event);submitLogin();" value="Sign In">
      </footer>
    </form>
  </div>

  <div *ngIf="signinOption == 'Guest' && store.isOneTimeGift() && store.isDonation()" heading="Give as a Guest">
    <header class="component-header">Guest</header>

    <hr class="flush-top">

    <form [formGroup]="formGuest" action="/" (ngSubmit)="store.preSubmit($event);submitGuest();" novalidate>

      <div class="form-group">
        <input type="email"
            class="form-control"
            [class.ng-invalid]="guestEmail"
            [class.ng-valid]="!guestEmail"
            placeholder="Email"
            name="email"
            (keyup)="resetGuestEmailFormSubmission($event)"
            [(ngModel)]="email"
            [formControl]="formGuest.get('email')" />

        <div *ngIf="!formGuest.valid && formGuestSubmitted">
          <p class="error help-block" *ngIf="formGuest.controls.email.value" [innerHtml]="store.content.getContent('invalidEmail')"></p>
          <p class="error help-block" *ngIf="!formGuest.controls.email.value" [innerHtml]="store.content.getContent('fieldCanNotBeBlank')"></p>
        </div>
      </div>

      <div *ngIf="showMessage">
        <div class="alert alert-info" [innerHtml]="store.content.getContent('embedAuthenticationGuestExists')" (click)="switchToSignIn()"></div>
      </div>

      <hr>

      <footer class="page-footer">
        <input type="button" class="btn btn-gray pull-left" (click)="back()" value="Back">
        <input type="submit" class="btn btn-primary pull-right" (click)="store.preSubmit($event);submitGuest();" value="{{buttonText}}">
      </footer>
    </form>
  </div>

</div>
