<div class="btn-group form-nav" *ngIf="gift.frequency == 'One Time' && gift.isDonation()">
  <label class="btn btn-option" [(ngModel)]="signinOption" btnRadio="Sign In">I have an account</label>
  <label class="btn btn-option" [(ngModel)]="signinOption" btnRadio="Guest">Give as guest</label>
</div>

<div *ngIf="signinOption == 'Sign In'" heading="Sign In">
  <header class="page-header page-header--border-btm">
    <h2>Sign In</h2>
  </header>

  <form [formGroup]="form" (ngSubmit)="next()">
    <div class="form-group">
      <label class="sr-only" for="email">Email</label>
      <input type="email" class="form-control" placeholder="Email" name="email" [formControl]="form.get('email')">
    </div>

    <div class="form-group">
      <label class="sr-only" for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password" [formControl]="form.get('password')">
    </div>

    <div class="row form__helpers">
      <div class="form__helpers--half">
        <label>
          <input type="checkbox" checked="checked"> Keep me logged in
        </label>
      </div>

      <div class="form__helpers--half">
        <p class="pull-right text-left text-block">
          <a class="text-block__link" routerLink="/password">Forgot password?</a><br>
          <a class="text-block__link" href="#">Need help?</a>
        </p>
      </div>
    </div>

    <div *ngIf="loginException">
      IT DON'T WORK!!!!!!!!!!
    </div>

    <hr>

    <p class="text-block">Or <a class="text-block__inline-link" routerLink="/registration">register for an account</a></p>
    <footer class="page-footer">
      <a href="#" class="btn btn-previous pull-left" (click)="back()">Back</a>
      <input type="button" class="btn btn-next pull-right" (click)="next()" [ngClass]="{ disabled: !form.valid }" value="Sign In">
    </footer>
  </form>
</div>

<div *ngIf="signinOption == 'Guest' && gift.frequency == 'One Time' && gift.isDonation()" heading="Give as a Guest">
  <header class="page-header">
    <h2>Guest</h2>
  </header>

  <form [formGroup]="form" (ngSubmit)="checkEmail()">
    
    <div class="form-group">
      <input type="email" 
          class="form-control" 
          [class.ng-invalid]="guestEmail" 
          [class.ng-valid]="!guestEmail" 
          placeholder="Email" 
          name="email" 
          [(ngModel)]="email" 
          [formControl]="form.get('email')" />
    </div>

    <div *ngIf="guestEmail">
      <div class="alert alert-danger">Looks like that email is already taken</div>
    </div>


    <footer class="page-footer">
      <input type="button" class="btn btn-previous pull-left" (click)="back()" value="Back">      
      <input type="button" class="btn btn-next pull-right" (click)="checkEmail()" [ngClass]="{ disabled: !form.valid }" value="Next">
    </footer>
  </form>
</div>
