<div heading="Register">
  <header class="page-header page-header--border-btm">
    <h2>Register</h2>
  </header>

  <form [formGroup]="regForm" [class.submitted]="submitted" (ngSubmit)="next()">
    <!-- First Name -->
    <div class="row">
      <div class="form-group">
        <label class="sr-only" for="firstName">First Name</label>
        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" name="firstName" [(ngModel)]="firstName" pattern=".*">
      </div>
    </div>

    <div class="errors" *ngIf="(submitted) && !regForm.controls['firstName'].valid">
      <div class="alert alert-danger">
        <p>First Name <span [innerHTML]="switchMessage(regForm.controls['firstName'].errors)"></span></p>
      </div>
    </div>

    <!-- Last Name -->
    <div class="row">
      <div class="form-group">
        <label class="sr-only" for="lastName">Last Name</label>
        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" name="lastName" [(ngModel)]="lastName" pattern=".*">
      </div>
    </div>

    <div class="errors" *ngIf="(submitted) && !regForm.controls['lastName'].valid">
      <div class="alert alert-danger">
        <p>Last Name <span [innerHTML]="switchMessage(regForm.controls['lastName'].errors)"></span></p>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label class="sr-only" for="email">Email</label>
      <input type="text" class="form-control" placeholder="Email" formControlName="email" name="email" [(ngModel)]="email" pattern=".*" >
    </div>

    <div class="errors" *ngIf="(submitted) && !regForm.controls['email'].valid">
      <div class="alert alert-danger">
        <p>Email <span [innerHTML]="switchMessage(regForm.controls['email'].errors)"></span></p>
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label class="sr-only" for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" formControlName="password" name="password" [(ngModel)]="password" pattern=".*" >
    </div>

    <div class="errors" *ngIf="(submitted) && !regForm.controls['password'].valid">
      <div class="alert alert-danger">
        <p>Password <span [innerHTML]="switchMessage(regForm.controls['password'].errors)"></span></p>
      </div>
    </div>
    
    <hr>

    <footer class="page-footer page-footer--border-top">
      <input type="button" class="btn btn-previous pull-left" (click)="back()" value="Back">
      <input type="button" class="btn btn-next pull-right" (click)="next()" [ngClass]="{ disabled: !regForm.valid }" value="Next">
    </footer>

  </form>
</div>
