<div>

<div heading="Register">
  <header class="section-header">
    <h2>Register An Account</h2>
  </header>

  <form [formGroup]="regForm" action="/" (ngSubmit)="store.preSubmit($event);submitRegistration();" novalidate>

    <div class="form-row">
      <!-- First Name -->
        <div class="form-group form-col-2">
          <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" name="firstName" [(ngModel)]="firstName" >
        </div>

      <!-- Last Name -->
        <div class="form-group form-col-2">
          <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" name="lastName" [(ngModel)]="lastName" >
        </div>
    </div>

    <div class="errors" *ngIf="(submitted) && (!regForm.controls['firstName'].valid || !regForm.controls['lastName'].valid)">
      <div class="alert alert-danger">
        <ul>
          <li *ngIf="!regForm.controls['firstName'].valid">
            First Name <span [innerHTML]="switchMessage(regForm.controls['firstName'].errors)"></span>
          </li>
          <li *ngIf="!regForm.controls['lastName'].valid">
            Last Name <span [innerHTML]="switchMessage(regForm.controls['lastName'].errors)"></span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Email -->
    <div class="form-row">
      <div class="form-group form-col-1">
        <input type="text" class="form-control" placeholder="Email" formControlName="email" name="email" [(ngModel)]="email" >
      </div>
    </div>

    <div class="errors" *ngIf="(submitted) && (!regForm.controls['email'].valid || duplicateUser)">
      <div class="alert alert-danger" *ngIf="duplicateUser">
        <span [innerHtml]="store.content.getContent('embedRegisterEmailInUse')"></span>
        <p><a (click)="back()">Sign In</a> or try <a [href]="forgotPasswordUrl" target="_blank">Forgot password</a>.</p>
      </div>
      <div class="alert alert-danger" *ngIf="!duplicateUser">
        <p>Email <span [innerHTML]="switchMessage(regForm.controls['email'].errors)"></span></p>
      </div>
    </div>

    <!-- Password -->
    <div class="form-row">
      <div class="form-group form-col-1">
        <input type="password" class="form-control" placeholder="Password" formControlName="password" name="password" [(ngModel)]="password" >
      </div>
    </div>

    <div class="errors" *ngIf="(submitted) && !regForm.controls['password'].valid">
      <div class="alert alert-danger">
        <p>Password <span [innerHTML]="switchMessage(regForm.controls['password'].errors)"></span></p>
      </div>
    </div>

     <p class="text-block"><small class="text-muted" [innerHtml]="policyMessage"></small></p>

     <hr>

    <footer class="page-footer page-footer--pt-0">
      <a class="pull-left text-block__inline-link" (click)="back()"[innerHtml]="store.content.getContent('embedRegisterSignIn')"></a>
      <input type="submit" class="btn btn-next pull-right" (click)="store.preSubmit($event);submitRegistration();"  value="Register">
    </footer>

  </form>
</div>

</div>
