@mixin header-font($fontface, $fontsize) {
  color: $header-color;
  font-family: $fontface;
  font-size: $fontsize;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin calendar-date($background, $border, $text) {
  background-color: $background;
  border: 1px solid $border;
  box-shadow: none;
  color: $text;

  .text-info {
      color: $text;
  }
}