// Brand Colors
$cr-light-blue: #0095D9;
$cr-blue: #3b6e8f; //PMS 5405 C58 M17 Y0   K46
$cr-orange: #b05c30; //PMS 167  C0  M60 Y100 K17
$cr-dkblue: #113556;
$cr-grey: #AFAFAF; //#878785; //PMS Cool Grey 9
$cr-teal: #56AFA9;
$cr-white: #FFF;

// Bootstrap Overrides
$icon-font-path: "/fonts/";

// To be changed with Typekit tranfer
$fontface-header: "acumin-pro-extra-condensed", sans-serif;
$fontface-body: "acumin-pro", sans-serif;

// Form Validation Colors
$success-state: #66C93E !default;
$success-state-text: $success-state;
$success-state-bg: lighten(desaturate(adjust-hue($success-state, 346.4713), 20.6034), 42.9412);
$success-state-border: $success-state;

$danger-state: #C9302C !default;
$danger-state-text: $danger-state;
$danger-state-bg: lighten(desaturate(adjust-hue($danger-state, 346.4713), 20.6034), 42.9412);
$danger-state-border: lighten(desaturate(adjust-hue($danger-state, 348.7939), 20.4197), 38.0392);

// Default colors
$bg-color: $cr-white !default;
$primary-color: $cr-light-blue !default;
$secondary-color: $cr-teal !default;
$accent-color: $cr-grey !default;
$header-color: #666 !default;
$underline-color: #EEE !default;
$text-color: #777 !default;
$text-contrast-color: $cr-white !default;
$text-color-link: $primary-color;
$input-text-color: #505050 !default;
$input-bg-color: lighten($cr-grey, 27) !default;
$page-bg-color: #F4F4F4 !default;
$calendar-today-bg: $bg-color;
$calendar-today-text: #666;
$calendar-today-border: #666;
$calendar-hover-bg: $secondary-color;
$calendar-hover-text: $text-contrast-color;
$calendar-hover-border: $secondary-color;